.navBar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  height: 60px;
  border-bottom: solid rgba(88, 87, 87, 0.815);
}
.navBar img {
  height: 30px;
  width: 30px;
}

.navBar_nav {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  /* margin-top: 1rem; */
}

.nav_logo {
  margin-left: 1rem;
  margin-top: -10px;
}

.nav_logo a {
  font-size: 3rem;
}

.nav_links a {
  color: black;
  text-decoration: none;
  padding: 2rem;
  font-size: 25px;
}

.nav_logo a:hover,
.nav_links a:hover {
  color: coral;
}

.space {
  flex: 1;
}

@media (max-width: 768px) {
  .nav_links a {
    display: none;
  }
  .nav_logo {
    display: none;
  }
}

@media (min-width: 769px) {
  .nav_logo {
    margin-left: 0;
  }
}

.name {
  font-size: 28px;
  margin-left: 3rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
}
