$myColor: #baeab9;

.home-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: $myColor;
  width: 100vw;

  main {
    background: grey;
  }
  #personal {
    background: pink;
  }
}
