.about-main {
  width: 90%;
  height: 100%;
  margin-top: 60px;

  margin: 0 auto;
}

.list ul {
  list-style-type: circle;
  list-style-position: inside;
}

.list ol {
  list-style-position: inside;
}

.list {
  margin: 0 auto;
}
