.projects-main {
  margin-top: 140px;
  padding: 0;
  height: 100%;
  font-size: 25px;
  width: 100%;
}

#modalBtn {
  background: coral;
  padding: 1em 2em;
  color: white;
  border: 0;
  font-size: 15px;
  float: right;
  margin-bottom: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #f4f4f4f4;
  margin: 40% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgb(0, 0, 0, 0.2);
}

.closeBtn:hover,
.closeBtn:focus {
  color: coral;
  text-decoration: none;
  cursor: pointer;
}

.modal-box {
  height: auto;
  width: 80%;
  margin: 10px auto;
  border: solid 1px coral;
  box-shadow: 0 5px 10px coral;
  padding: 1rem;
  word-wrap: break-word;
}

.bold {
  font-weight: bold;
}

.projects-main h2 {
  display: flex;
  justify-content: center;
  color: coral;
}

.modalbtn {
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .projects-main {
    margin-top: 5px;
  }
}
