.projects-main {
  margin-top: 60px;
  padding: 0;
  height: 100%;
  font-size: 25px;
}

.projects-main img {
  height: 300px;
  width: 400px;
}
#modalBtn {
  background: coral;
  padding: 1em 2em;
  color: white;
  border: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #f4f4f4f4;
  margin: 40% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgb(0, 0, 0, 0.2);
}

.closeBtn {
  color: #cccccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-box {
  height: 400px;
  width: 400px;
  margin: 0;
}

.bold {
  font-weight: bold;
}
