.icons-main h2 {
  display: flex;
  justify-content: center;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
}

.fe {
  margin: 0 200px 0 0;
}

@media screen and (max-width: 678px) {
  .fe {
    margin: 0 10px;
  }
  .icons-main h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
}
