.home-container {
  display: flex;
}

.projects {
  width: 50vw;
}

.contact {
  width: 50vw;
  margin-right: 3rem;
}

@media only screen and (max-width: 768px) {
  .home-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .projects {
    width: 100%;
  }
  .contact {
    width: 100%;
  }
}
