.contact-main {
  margin-top: 60px;
  text-align: center;
  font-size: 25px;

  display: flex;
  flex-direction: column;
}

.contact-main ul {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.contact-main img {
  height: 30px;
  width: 30px;
}
